# SPDX-FileCopyrightText: 2025 aesc silicon
#
# SPDX-License-Identifier: CERN-OHL-W-2.0

# This workflow runs all nafarr test cases

name: Nafarr Tests

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: nafarr

      - name: Setup Scala
        uses: olafurpg/setup-scala@v11

      - name: Clear Scala Cache
        run: |
          rm -rf ~/.sbt/
          rm -rf ~/.ivy2/

      - name: Add OSS CAD Suite
        uses: YosysHQ/setup-oss-cad-suite@v3
        with:
          version: '2024-01-01'

      - name: Checkout SpinalCrypto
        uses: actions/checkout@v2
        with:
          repository: SpinalHDL/SpinalCrypto
          ref: master
          path: SpinalCrypto

      - name: Compile
        run: |
          cd nafarr
          sbt compile

      - name: Run tests
        run: |
          cd nafarr
          NAFARR_BASE=$PWD sbt test
